body {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: "Robot", sans-serif;
}

.mid__img__slider {
  width: 100%;
  height: 100%;
  background-color: rgb(227, 224, 204);
}

.content__wrapper__headings{
  padding: 50px 0px 0px 0px;
  text-align: center;
}

.content__wrapper__headings h5{
  color: rgb(159, 138, 19);
  font-weight: 100;
}
.content__wrapper__headings h1{
  color: #074041;
  margin: 0;
  font-weight: 100;
}

.content__wrapper {
  margin: auto;
  padding: 20px;
  max-width: 1200px;
  height: 440px;
  display: flex;
  align-items: center;
}

.slider {
  position: relative;
  font-family: "Robot", sans-serif;
  width: 100%;
}
.slider__wrapper {
  margin: auto;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;
}
@media (max-width: 480px) {
  .slider__wrapper {
    width: 75%;
  }
}
.slider__item {
  padding: 30px 0;
  display: inline-block;
  width: 33.3333333333%;
  height: 100%;
  font-size: 12px;
  vertical-align: top;
  transition: all 0.3s ease-out;
}
/* .slider__content {
  margin: 20px;
  padding: 5%;
  color: rgb(255, 137, 95);
  border: 1.5px dotted rgb(255, 137, 95);
  background-color: black;
  box-shadow: rgba(255, 254, 254, 0.1) 0px 0px 5px 0px,
    rgba(255, 255, 255, 0.1) 0px 0px 1px 0px;
  filter: grayscale(100%);
  transform: scale(0.95);
  transition: all 0.5s ease-in;
  overflow: hidden;
} */

.slider__content {
  margin: 10px;
  padding: 5%;
  /* color: rgb(255, 137, 95); */
  /* border: 1.5px dotted rgb(255, 137, 95); */
  /* background-color: black; */
  /* box-shadow: rgba(255, 254, 254, 0.1) 0px 0px 5px 0px,
    rgba(255, 255, 255, 0.1) 0px 0px 1px 0px; */
  /* filter: grayscale(100%); */
  transform: scale(0.95);
  transition: all 0.5s ease-in;
  overflow: hidden;
}

.slider__content p {
  font-size: 15px;
  line-height: 20px;
  white-space: normal;
}
.slider__content.active {
  filter: grayscale(0);
  transform: scale(1.54);
  transition: all 0.5s ease-in;
  /* animation: shadow 5s ease 0s infinite; */
}
.slider__content img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  transform: scale(0.65);
  height: 380px;
}
.slider__image {
  margin: -30px;
}
.slider__over {
  position: relative;
}
.slider__text {
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
}
.slider__title {
  white-space: normal;
  font-size: 20px;
  line-height: 22px;
  color: white;
}
.slider__controls {
  top: calc(50% - 50px);
  left: -50px;
  position: absolute;
  display: flex;
  width: 110%;
  justify-content: space-between;
}
.slider__controls button {
  background-color: transparent;
  border: none;
}
.slider__controls button span {
  color: rgb(160, 138, 13);
  font-size: 15px;
  text-transform: uppercase;
  transition: all 0.7s ease;
}
@media (max-width: 480px) {
  .slider__controls button span {
    font-size: 10px;
  }
}
.slider__controls button path {
  fill: rgb(160, 138, 13);
  transition: all 0.7s ease;
}
.slider__controls button:hover {
  color: #074041;
  transition: all 0.7s ease;
}
.slider__controls button:hover path,
.slider__controls button:hover span {
  color: #074041;
  fill: #074041;
  transition: all 0.7s ease;
}
.slider__left {
  padding-right: 15px;
  border: none;
  cursor: pointer;
}
.slider__right {
  margin-left: auto;
  padding-left: 15px;
  border: none;
  cursor: pointer;
}

.selection {
  padding-top: 50px;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 137, 95);
  display: none;
}
.selection input {
  background-color: transparent;
  color: rgb(255, 137, 95);
  border: none;
  border-bottom: 1px solid rgb(255, 137, 95);
  outline: none;
}

.content__wrapper__button{
  padding: 0px 0px 40px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__wrapper__button button{
  border: none;
  background-color: #628266;
  color: #d7d2d2;
  font-size: 14px;
  padding: 12px 40px;
  transition: 0.3s ease;
}

.content__wrapper__button button:hover{
  background-color: #507455;
}

@keyframes shadow {
  0% {
    box-shadow: -1px 12px 35px 6px rgba(255, 137, 95, 0.2);
  }
  50% {
    box-shadow: -7px -8px 38px 11px rgba(255, 137, 95, 0.25);
  }
  100% {
    box-shadow: -1px 11px 33px 3px rgba(255, 137, 95, 0.1);
  }
}
